.idea/
/swagger-ui-3.24.3/

.swagger/swagger2.yaml

.swagger/

__pycache__/

python.zip
python
lambda_function_trigger_TEST.py

lambda_function_trigger_BUBBLE_get.py

lambda_function_trigger_EVENTJSON.py

lambda_function_trigger.py

.env
/set_env.bat
*.ps1

.venv
CmodelEmbeddings-canopyExport100.csv